h1 {
    color: black;
    animation:c1 1s linear infinite alternate;
}

@keyframes c1 {to{opacity: 0}}

.quizzmario {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 60px;
}

.accueil {
    margin-left: 625px;
    margin-right: 10px;
}

.highscore {
    margin-right: 10px;
}



