body {
   background-image: url(./images/play.gif);
   background-size: cover;
}

p {
    text-align: center;
    
}

.identification {
    font-size: 20px;
    padding-top: 150px;
    padding-left: 1150px;
    
}


.pseudo {
    font-size: 30px;
    color: black;
    font-size: bold;

}




.question {
    font-size: 30px;
    padding-bottom: 100px;
}

.reponse {
    justify-content: center;
    text-align: center;
    margin-left: 70px;

}

.erreur {
    margin-top: 20px;
    color: red;
    font-size: 20px;
    margin-left: 760px;
}

#formulaire_inscription  {
    margin-top: 30px;
}

#user_name {
    border: 2px solid blue;
    background-color: transparent;
    border-radius: 15px;
    height: 50px;
}











